<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:margin-top="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Article Management</title>
</head>
<body>
<h1>Article Management</h1>

<table>
  <tr>
      <th>Id</th>
    <th>Title</th>
    <th>Actions</th>
      <th>Actions</th>
    <th>Actions</th>
  </tr>
  <tr th:each="article : ${articles}">
      <td th:text="${article.formattedData}" id="idOfAddedArticle"></td>
      <td th:text="${article.formattedData1}"></td>
    <td>
        <button type="submit" id="updateData" onclick="updateArticle()">Click to update</button>
    </td>
      <td>
          <button type="button" id="submitData" onclick="deleteArticle()">Delete Article</button>
      </td>
      <td>
          <button type="submit" id="addNewArticleData" onclick="addNewArticle()">Add new article</button>
      </td>
  </tr>
</table>
</body>
<script>
  function deleteArticle() {
    let id = document.getElementById("idOfAddedArticle").textContent;
    console.log(id);

      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
          if (this.readyState == 4) {
              if (this.status == 200) {
                  // handle success
                  window.location.href = "/addedarticle";
              } else {
                  // handle error
                  alert('Failed to delete article.');
              }
          }
      };

    xhttp.open("DELETE", "http://localhost:8081/admin/delete/" + id);
    // xhttp.setRequestHeader('Accept', 'application/json');
    xhttp.send();
  }
</script>
<script>
    function updateArticle() {
        let id = document.getElementById("idOfAddedArticle").textContent;

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.status == 200) {
                window.location.href = "http://localhost:8081/admin/getForUpdate/" + id; // redirect to articles list page
            } else if (this.readyState == 4) {
                alert('Failed to delete article.');
            }
        };
        xhttp.open("GET", "http://localhost:8081/admin/getForUpdate/" + id, true);
        xhttp.send();
    }
</script>
<script>
    function addNewArticle() {
        let id = document.getElementById("idOfAddedArticle").textContent;

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.status == 200) {
                window.location.href = "http://localhost:8081/getadminpanel"; // redirect to articles list page
            } else if (this.readyState == 4) {
                alert('Failed to delete article.');
            }
        };
        xhttp.open("GET", "http://localhost:8081/admin/getadminpanel/", true);
        xhttp.send();
    }
</script>

</html>


