<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:margin-top="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Article Management</title>
</head>
<body>
<h1>Articles about trading</h1>

<table>
    <tr>
        <th hidden="hidden">Id</th>
        <th>Title</th>
        <th>Description</th>
    </tr>
    <tr th:each="article, articleStat : ${articles}">
        <td hidden="hidden" th:text="${article.formattedData}" th:id="'articleId_' + ${articleStat.index}"></td>
        <td>
            <strong th:text="${article.formattedData1}"></strong><br>
            <p th:text="${article.formattedData2}"></p>
        </td>
        <td>
            <button type="button" onclick="readArticle(this)" style="float: right;">READ</button>
        </td>
    </tr>
</table>
<p id="demo"></p>
</body>
<script>
    function readArticle(button) {
        let id = button.parentNode.parentNode.querySelector("td").textContent;
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.status == 200) {
                window.location.href = "/articles/getselectedarticle/" + id; // redirect to articles list page
            } else if (this.readyState == 4) {
                alert('Failed to delete article.');
            }
        };
        xhttp.open("GET", "/articles/getselectedarticle/" + id, true);
        xhttp.send();
    }
</script>
</html>


