<!DOCTYPE html>
<html>
<head>
  <title>Article Adding</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h1>Add Article</h1>
<form id="article-form">
  <label for="title">Title:</label>
  <input type="text" id="title" name="title"><br>
  <label for="description">Description:</label>
  <input type="text" id="description" name="description"><br>
  <label for="content">Content:</label>
  <textarea id="content" name="content"></textarea><br>
  <input type="submit" value="Add Article" onclick="add();">
</form>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/js/articleadding.js"></script>
r
<!--<script>window.jQuery || document.write('<script src="http://mysite.com/jquery.min.js"></script>)')</script>-->
</body>
</html>
