<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Article Management</title>
</head>
<body>
<h1>Article Management</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Actions</th>
  </tr>
  <tr th:each="article : ${articles}">
    <td>-</td>
    <td th:text="${article.split(',')[0]}"></td>
<!--    <td th:text="${article.split(',')[1]}"></td>-->
    <td>
    <a th:href="@{/admin/update/{id}(id=${article.split(',')[0]})}">Update</a>
    <a th:href="@{/admin/delete/{id}(id=${article.split(',')[0]})}">Delete</a>
    </td>
  </tr>
</table>
</body>
</html>
