<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:margin-top="http://www.w3.org/1999/xhtml">
<body>

<div class="topnav">
    <a class="active" href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
    <a href="http://localhost:8081/calculator" id="calculator">Calculator</a>
    <!--  <a href="#Quiz">Quiz</a>-->
    <a href="http://localhost:8081/quiz/mainquiz">Quiz</a>
</div>
<div id="content"></div>

    <br>Dear trader,
    We introduce you a calculator, where you cah calculate your monthly you may require data and get your monthly income.</br>
<li>Risk per trade: Which part of your deposit you stake on risk in one trade.</li>
<li>Monthly trade number: How much trade you accomplish during a month.</li>
<li>Average number of the stop losses during month: How many your trades are ending with stop out.</li>
<li>Average number of take profits: How many your trades are ending with profit.</li>
    <li>Ratio take profits to stop losses: If your average take profit is 180, and stop loss is 100, so your ratio is 1.8 and so  on.</li>

</p>

<form>
    <label for="riskPerTrade">Risk per trade:</label><br>
    <input type="text" id="riskPerTrade" name="riskPerTrade" value=""><br>
    <label for="numberOfStopLosses">Average number of the stop losses during month:</label><br>
    <input type="" id="numberOfStopLosses" name="numberOfStopLosses" value=""><br>
    <label for="numberOfTakeProfits">Average number of take profits:</label><br>
    <input type="" id="numberOfTakeProfits" name="numberOfTakeProfits" value=""><br>
    <label for="ratioOfTakeProfitToStop">Ratio take profits to stop losses:</label><br>
    <input type="" id="ratioOfTakeProfitToStop" name="ratioOfTakeProfitToStop" value=""><br>
    <input type="button" onclick="toCalculate()" value="Submit">
</form>
<p id="result"></p>
</body>
<script>
    function toCalculate() {
        let riskPerTradeElement = document.getElementById("riskPerTrade").value;
        let numberOfTakeProfits = document.getElementById("numberOfTakeProfits").value;
        let numberOfStopLosses = document.getElementById("numberOfStopLosses").value;
        let ratioOfTakeProfitToStop = document.getElementById("ratioOfTakeProfitToStop").value;
        if (isNaN(riskPerTradeElement) || isNaN(numberOfTakeProfits) || isNaN(numberOfStopLosses) || isNaN(ratioOfTakeProfitToStop)){
            document.getElementById("result").innerHTML = "Input should be a number";
        }else{
            let calculatedSum = (numberOfTakeProfits * ratioOfTakeProfitToStop - numberOfStopLosses) * riskPerTradeElement;
            document.getElementById("result").innerHTML = "According to the given by you data your monthly income will be " + calculatedSum + "%";
        }
    };
</script>
</html>