<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:margin-top="http://www.w3.org/1999/xhtml">
<h2>Pass quick quiz about candlesticks</h2>


<body>

<div class="topnav">
    <a class="active" href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
    <a href="http://localhost:8081/calculator" id="calculator">Calculator</a>
    <a href="http://localhost:8081/quiz/mainquiz">Quiz</a>
</div>
<div id="content"></div>

<form action="/action_page.php">
    <label for="indicators">How many indicators has candlestick?</label>
    <select name="indicators" id="indicators">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
    </select>
</form>

<form action="/action_page.php">
    <label for="highestprice">Which point indicates the highest price in given period?</label>
    <select name="highestprice" id="highestprice">
        <option>lowest</option>
        <option>it depends</option>
        <option>highest</option>
    </select>
</form>

<form action="/action_page.php">
    <label for="lowestprice">Which point indicates the lowest price in given period?</label>
    <select name="lowestprice" id="lowestprice">
        <option>lowest</option>
        <option>it depends</option>
        <option>highest</option>
    </select>
</form>

<form action="/action_page.php">
    <label for="priceChange">What indicates real price change?</label>
    <select name="priceChange" id="priceChange">
        <option>The body of the candlestick</option>
        <option>its wicks</option>
        <option>it depends</option>
    </select>
</form>

<form action="/action_page.php">
    <label for="absorption">What predicts absorption?</label>
    <select name="absorption" id="absorption">
        <option>Possible price change</option>
        <option>Nothing</option>
        <option>Сontinuation of the trend</option>
    </select>
</form>

<input type="button" onclick="calculationCandlestickQuiz()" value="Submit">

<p id="result"></p>
</body>

<script>
    function calculationCandlestickQuiz() {
        let firstQuestion = document.getElementById("indicators").value;
        let secondQuestion = document.getElementById("highestprice").value;
        let thirdQuestion = document.getElementById("lowestprice").value;
        let fourthQuestion = document.getElementById("priceChange").value;
        let fifthQuestion = document.getElementById("absorption").value;
        if (firstQuestion === "4") {
            firstQuestion = 1;
        } else {
            firstQuestion = 0;
        }
        if (secondQuestion === "highest") {
            secondQuestion = 1;
        } else {
            secondQuestion = 0;
        }
        if (thirdQuestion === "lowest") {
            thirdQuestion = 1;
        } else {
            thirdQuestion = 0;
        }
        if (fourthQuestion === "The body of the candlestick") {
            fourthQuestion = 1;
        } else {
            fourthQuestion = 0;
        }
        if (fifthQuestion === "Possible price change") {
            fifthQuestion = 1;
        } else {
            fifthQuestion = 0;
        }
        let calculatedSum = firstQuestion + secondQuestion + thirdQuestion +fourthQuestion + fifthQuestion;
        if(calculatedSum >= 3) {
            document.getElementById("result").innerHTML = "According to your answers the result is  " + calculatedSum +
                ". You have enough knowledge about candlesticks";
        }else{
            document.getElementById("result").innerHTML = "According to your answers the result is  " + calculatedSum +
                ". You have to learn more about candlesticks";
        }
    };
</script>


</html>