<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:margin-top="http://www.w3.org/1999/xhtml">
<head>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/about">About</a>
        <a href="/articles/allArticles">Articles</a>
        <a href="/quiz/mainquiz">Quiz</a>
    </div>
</head>


<h1>Pass quick quiz about Elliot waves</h1>


<body>
<div id="content"></div>

<H2>Check your knowledges</H2>
<form action="/action_page.php">
    <label for="waves">How many waves has Elliot wave pattern?</label>
    <select name="waves" id="waves">
        <option></option>
        <option>1</option>
        <option>2</option>
        <option>5</option>
        <option>4</option>
    </select>
</form>

<form action="/action_page.php">
    <label for="correction">Which wave is correction?</label>
    <select name="correction" id="correction">
        <option></option>
        <option>1-st wave</option>
        <option>2-nd wave</option>
        <option>3</option>
    </select>
</form>

<form action="/action_page.php">
    <label for="correctionType">How many types of the correction you know?</label>
    <select name="correctionType" id="correctionType">
        <option></option>
        <option>2</option>
        <option>1</option>
        <option>3</option>
    </select>
</form>

<form action="/action_page.php">
    <label for="thirdWave">Which form usually has third wave?</label>
    <select name="thirdWave" id="thirdWave">
        <option></option>
        <option>It does not have form</option>
        <option>Acute</option>
        <option>Obtuse</option>
    </select>
</form>

<form action="/action_page.php">
    <label for="strongestWave">Which impulse wave usually is the strongest one?</label>
    <select name="strongestWave" id="strongestWave">
        <option></option>
        <option>First wave</option>
        <option>Third wave</option>
        <option>Fifth wave</option>
    </select>
</form>

<form action="/action_page.php">
    <label for="obtuse">Which impulse wave usually has obtuse angle?</label>
    <select name="obtuse" id="obtuse">
        <option></option>
        <option>1</option>
        <option>2</option>
        <option>5</option>
        <option>4</option>
    </select>
</form>

<form action="/action_page.php">
    <label for="zigzag">How many waves has zigzag?</label>
    <select name="zigzag" id="zigzag">
        <option></option>
        <option>1</option>
        <option>3</option>
        <option>5</option>
        <option>4</option>
    </select>
</form>

<input type="button" onclick="calculationCandlestickQuiz()" value="Submit">

<p id="result"></p>
</body>

<script>
    function calculationCandlestickQuiz() {
        let firstQuestion = document.getElementById("waves").value;
        let secondQuestion = document.getElementById("correction").value;
        let thirdQuestion = document.getElementById("correctionType").value;
        let fourthQuestion = document.getElementById("thirdWave").value;
        let fifthQuestion = document.getElementById("strongestWave").value;
        let sixthQuestion = document.getElementById("obtuse").value;
        let seventhQuestion = document.getElementById("zigzag").value;
        if (firstQuestion === "5") {
            firstQuestion = 1;
        } else {
            firstQuestion = 0;
        }
        if (secondQuestion === "2-nd wave") {
            secondQuestion = 1;
        } else {
            secondQuestion = 0;
        }
        if (thirdQuestion === "3") {
            thirdQuestion = 1;
        } else {
            thirdQuestion = 0;
        }
        if (fourthQuestion === "Acute") {
            fourthQuestion = 1;
        } else {
            fourthQuestion = 0;
        }
        if (fifthQuestion === "Third wave") {
            fifthQuestion = 1;
        } else {
            fifthQuestion = 0;
        }
        if (sixthQuestion === "5") {
            sixthQuestion = 1;
        } else {
            sixthQuestion = 0;
        }
        if (seventhQuestion === "3") {
            seventhQuestion = 1;
        } else {
            seventhQuestion = 0;
        }
        let calculatedSum = firstQuestion + secondQuestion + thirdQuestion +fourthQuestion + fifthQuestion + sixthQuestion + seventhQuestion;
        if(calculatedSum > 4) {
            document.getElementById("result").innerHTML = "According to your answers the result is  " + calculatedSum +
                ". You have enough knowledge about Elliot wave theory";
        }else{
            document.getElementById("result").innerHTML = "According to your answers the result is  " + calculatedSum +
                ". You have to learn more about Elliot wave theory";
        }
    };
</script>
</html>