<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:margin-top="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Quiz Section</title>
</head>
<H1>Quiz section</H1>
<body>
<div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/about">About</a>
    <a href="/articles/allArticles">Articles</a>
    <a href="/quiz/mainquiz">Quiz</a>
</div>
<div id="content"></div>

<p><a>Trading requires different types of the knowledge. Are you ready to examine you knowledge?</a></p>
<ul>
    <li><a href="http://localhost:8081/quiz/candlestick">Click to pass candlestick test!</a></li>
    <li><a href="http://localhost:8081/quiz/elliotwaves">Click to pass Elliot wave test!</a></li>
    <li><a href="http://localhost:8081/quiz/moneymanagement">Click to pass money management test!</a></li>
</ul>
</body>
</html>