<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:margin-top="http://www.w3.org/1999/xhtml">
<head>
<div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/about">About</a>
    <a href="/articles/allArticles">Articles</a>
    <a href="/quiz/mainquiz">Quiz</a>
</div>
<div id="content"></div>
</head>


<h1>Pass quick quiz about money management rules</h1>


<body>

<H2>Check your knowledges</H2>
<form action="/action_page.php">
    <label for="procent">Which procent of my deposit I put on the risk in one trade?</label>
    <select name="procent" id="procent">
        <option></option>
        <option>No more thant 3%</option>
        <option>10%</option>
        <option>5%</option>
        <option>20%</option>
    </select>
</form>

<form action="/action_page.php">
    <label for="tradingNervous">I am a nerwous when open the trade?</label>
    <select name="tradingNervous" id="tradingNervous">
        <option></option>
        <option>Yes</option>
        <option>No</option>
        <option>Do not have an idea</option>
    </select>
</form>

<form action="/action_page.php">
    <label for="moneyManagementRules">I have money management rules?</label>
    <select name="moneyManagementRules" id="moneyManagementRules">
        <option></option>
        <option>Yes</option>
        <option>No</option>
    </select>
</form>

<form action="/action_page.php">
    <label for="rulesBreaking">I usually break my money management rules?</label>
    <select name="rulesBreaking" id="rulesBreaking">
        <option></option>
        <option>No</option>
        <option>Yes</option>
    </select>
</form>

<form action="/action_page.php">
    <label for="importancyOfMoneyManagementRules">Money management rules are important in trading</label>
    <select name="importancyOfMoneyManagementRules" id="importancyOfMoneyManagementRules">
        <option></option>
        <option>No</option>
        <option>Yes</option>
    </select>
</form>

<input type="button" onclick="calculationCandlestickQuiz()" value="Submit">

<p id="result"></p>
</body>

<script>
    function calculationCandlestickQuiz() {
        let firstQuestion = document.getElementById("procent").value;
        let secondQuestion = document.getElementById("tradingNervous").value;
        let thirdQuestion = document.getElementById("moneyManagementRules").value;
        let fourthQuestion = document.getElementById("rulesBreaking").value;
        let fifthQuestion = document.getElementById("importancyOfMoneyManagementRules").value;
        if (firstQuestion === "No more thant 3%") {
            firstQuestion = 1;
        } else {
            firstQuestion = 0;
        }
        if (secondQuestion === "No") {
            secondQuestion = 1;
        } else {
            secondQuestion = 0;
        }
        if (thirdQuestion === "Yes") {
            thirdQuestion = 1;
        } else {
            thirdQuestion = 0;
        }
        if (fourthQuestion === "No") {
            fourthQuestion = 1;
        } else {
            fourthQuestion = 0;
        }
        if (fifthQuestion === "Yes") {
            fifthQuestion = 1;
        } else {
            fifthQuestion = 0;
        }
        let calculatedSum = firstQuestion + secondQuestion + thirdQuestion +fourthQuestion + fifthQuestion;
        if(calculatedSum >= 3) {
            document.getElementById("result").innerHTML = "According to your answers the result is  " + calculatedSum +
                ". You have enough knowledge about money management rules";
        }else{
            document.getElementById("result").innerHTML = "According to your answers the result is  " + calculatedSum +
                ". You have to change your relation to money management";
        }
    };
</script>
</html>