<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<form>
  <label for="idForEditing">Id</label><br>
  <input type="text" id="idForEditing" name="idForEditing" maxlength="50" size="50" th:value="${articles.id}"><br>
  <label for="titleForEdit">Title of the article (max 50 characters)</label><br>
  <input type="text" id="titleForEdit" name="titleForEdit" maxlength="50" size="50" th:value="${articles.title}"><br>
  <label for="descriptionForEdit">Description of the article (max 100 characters)</label><br>
  <input type="text" id="descriptionForEdit" name="descriptionForEdit" maxlength="100" size="100" th:value="${articles.description}">
  <label for="contentForEdit">Content of the article (max 10000 characters)</label><br>
  <textarea id="contentForEdit" name="contentForEdit" rows="100" cols="100" maxlength="10000" th:text="${articles.content}"></textarea>
  <button type="submit" id="deleteData" onclick="deleteAddedArticle()">Delete Article</button>
  <button type="button" id="updateData" onclick="updateAddedArticle()">Update Article</button>
</form>
</body>
<!--<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
<script>
  function updateAddedArticle() {
    let idForEditing = document.getElementById("idForEditing").value;

    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4) {
        if (this.status == 200) {
          // handle success
          window.location.href = '/addedarticle'; // redirect to addedArticle page
        } else {
          // handle error
          alert('Failed to update article.');
        }
      }
    };

    // Prepare the updated article object
    var updatedArticle = {
      title: document.getElementById("titleForEdit").value,
      description: document.getElementById("descriptionForEdit").value,
      content: document.getElementById("contentForEdit").value
    };

    xhttp.open("PUT", "http://localhost:8081/update/" + idForEditing, true);
    xhttp.setRequestHeader("Content-Type", "application/json");
    xhttp.send(JSON.stringify(updatedArticle));
  }
</script>
<script>
  function deleteAddedArticle() {
    let id = document.getElementById("idOfAddedArticle").textContent;
    console.log(id);
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        // handle success
        window.location.href = '/addedarticle'; // redirect to articles list page
      } else if (this.readyState == 4) {
        // handle error
        alert('Failed to delete article.');
      }
    };
    xhttp.open("DELETE", "http://localhost:8081/delete/" + id);
    // xhttp.setRequestHeader('Accept', 'application/json');
    xhttp.send();
  }
</script>
</html>