<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:margin-top="http://www.w3.org/1999/xhtml">
<body>
<form action="/getAuthentification" method="POST">
  <label for="userName">User Name</label><br>
  <input type="text" id="userName" name="userName" maxlength="50" size="50"><br>
  <label for="password">Password</label><br>
  <input type="text" id="password" name="password" maxlength="100" size="100">
  <button type="submit" id="submitData" onclick="loadDoc()">Submit</button>
</form>
</body>
<!--<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
<script>
  function loadDoc() {
    var userName = document.getElementById("userName").value;
    var password = document.getElementById("password").value;

    var xhttp = new XMLHttpRequest();
    // xhttp.onreadystatechange = function()
    // {
    //   if (this.status === 200) {
    //     // handle success
    //     window.location.href = '/getadminpanel'; // redirect to articles list page
    //   } else if (this.readyState === 4) {
    //     // handle error
    //     alert('Failed to add article.');
    //   }
    // };
    xhttp.open("POST", "/getAuthentification", true);
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.send("userName=" + encodeURIComponent(userName) + "&password=" + encodeURIComponent(password));
  }
</script>
</html>