<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:margin-top="http://www.w3.org/1999/xhtml">
<body>
<form action="/getAuthentification" method="POST">
  <label for="userName">User Name</label><br>
  <input type="text" id="userName" name="userName" maxlength="25" size="25"><br>
  <label for="password">Password</label><br>
  <input type="password" id="password" name="password" maxlength="25" size="25">
  <button type="submit" id="submitData" onclick="loadDoc()">Submit</button>
</form>
</body>
<script>
  function loadDoc() {
    var userName = document.getElementById("userName").value;
    var password = document.getElementById("password").value;

    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", "/getAuthentification", true);
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.send("userName=" + encodeURIComponent(userName) + "&password=" + encodeURIComponent(password));
  }
</script>
</html>